.gif2html5-support-video.no-gif2html5-support-videoautoplay .gif2html5-video-container {
  position: relative; }
  .gif2html5-support-video.no-gif2html5-support-videoautoplay .gif2html5-video-container:before {
    content: ' ';
    width: 36px;
    height: 36px;
    border: 6px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    display: block;
    margin-top: -18px;
    margin-left: -18px;
    -webkit-animation: loader 2s infinite ease;
            animation: loader 2s infinite ease; }
  .gif2html5-support-video.no-gif2html5-support-videoautoplay .gif2html5-video-container.played:before {
    display: none; }

.gif2html5-support-video.no-gif2html5-support-videoautoplay .gif2html5-video {
  max-width: 100%;
  height: auto; }
  .gif2html5-support-video.no-gif2html5-support-videoautoplay .gif2html5-video::-webkit-media-controls {
    display: none !important; }

@-webkit-keyframes loader {
  0% {
    opacity: 0.25;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    opacity: 0.75;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  50% {
    opacity: 0.25;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  75% {
    opacity: 0.75;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    opacity: 0.25;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loader {
  0% {
    opacity: 0.25;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    opacity: 0.75;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  50% {
    opacity: 0.25;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  75% {
    opacity: 0.75;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    opacity: 0.25;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
