.gif2html5-support-video.no-gif2html5-support-videoautoplay {
	.gif2html5-video-container {
		display: inline-block;
		position: relative;
		&:before {
			content: ' ';
			background-image: url('../images/loading.gif');
			position: absolute;
			background-size: 100%;
			left: 50%;
			top: 50%;
			z-index: 999;
			display: block;
			width: 32px;
			height: 32px;
			margin-top: -16px;
			margin-left: -16px;
		}
		&.played:before {
			display: none;
		}
	}
	.gif2html5-video {
		max-width: 100%;
		height: auto;
		&::-webkit-media-controls {
			display:none !important;
		}
	}
}
